<div class="main">
    <h1>Item's List</h1>
  <div class="addItem">
    <input placeholder="Add Item" class="addText" [(ngModel)] = "newItem">
    <button (click) = "pushItem()">Add</button>
  </div>
  <ul>
    <li *ngFor = "let i of items; let ind = index">
      {{i}}
      <span (click) = "removeItem(ind)">x</span>
    </li>
  </ul>
</div>
<br>
<br>
<a [routerLink] = "['/pipes']">Pripes</a>
<br>
<a [routerLink] = "['/model-driven-form']">Model Driven Form</a>
<br>
<a [routerLink] = "['/template-driven-form']">Template</a>
<br>
<a [routerLink] = "['/convert']">Convert</a>
<router-outlet></router-outlet>
