<form class="container" 
	[formGroup] = "form">
	<h2>Converter</h2>
	<div class="form-group">
		<label for="binary">Binary</label>
		<input (ngModelChange) = "binaryChanged(oldValue, newValue = $event)" type="text" name="binary" class="form-control" formControlName = "binary">
	</div>
	<div class="form-group">
		<label for="decimal">Decimal</label>
		<input (ngModelChange) = "decimalChanged(oldValue, newValue = $event)"
		type="text" name="decimal"
		class="form-control"
		formControlName = "decimal">
	</div>
	<div class="form-group">
		<label for="octal">Octal</label>
		<input
		(ngModelChange) = "octalChanged(oldValue, newValue = $event)"
		type="text"
		name="octal"
		class="form-control"
		formControlName = "octal">
	</div>
	<div class="form-group">
		<label for="hex">Hex</label>
		<input
		(ngModelChange) = "hexChanged(oldValue, newValue = $event)"
		type="text"
		name="hex"
		class="form-control"
		formControlName = "hex">
	</div>
</form>
<br>
<a [routerLink]="['/']">Close</a>